<?xml version="1.0"?>
<configuration>
    <connectionStrings>
      <add name="routing" connectionString="server=SAMSUNGLEO\SQLEXPRESS;database=angular-routing-webservice;integrated Security=SSPI"/>
    </connectionStrings>
  
    <system.web>
        <webServices>
            <protocols>
                <add name="HttpGet"/>
            </protocols>
      </webServices>

      <compilation debug="true" targetFramework="4.5" />
         <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
